header{
    nav{
        list-style: none;
        background-color: #a69393;
        flex-wrap: wrap;
        @include flex (flex, space-around, center);
        ul{
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                a{
                    text-decoration: none;
                    color: nth($colores, 1);
                    font-size: nth($font-size, 13);
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                    margin-right: 50px;
                    flex-wrap: wrap;
                    transition: 0.5s;
                    &:hover{
                        color: nth($colores, 5);
                    }
                }
            }
        }
    }
}